// Import centralized variables
@import "../../variables";

.workshop-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.workshop-header {
  padding: 1rem;
  margin: 0;
  z-index: 10;
  container-type: inline-size;

  .workshop-nav {
    display: flex;
    justify-content: end;
  }

  @container (width < 600px) {
    .row > * {
      width: 100%;
    }

    .workshop-nav {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  }

  h1 {
    margin: 0 0 8px 0;
  }
}

.workshop-body {
  margin: 0;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}
