services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    networks:
      - fitness-app-network
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - fitness-app-network
    volumes:
      - ./frontend:/app
      - /app/node_modules

networks:
  fitness-app-network:
    driver: bridge